@import '~@style/base.scss';

.el-select-dropdown__item{
  padding: 0 20px !important;
}
$primary:#FF6600;
.container {
  width: 1226px;
  height: auto;
  margin: 0 auto;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  // 兼容IE
  zoom: 1;
  &::before,
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
.active{
  color: $primary;
}
.cursor{
  cursor: pointer;
}
.fwb{
  font-weight: bold;
}
.btn{
  width: 110px;
  height: 30px;
  background-color: #FF6600;
  padding: 10px 16px;
  cursor: pointer;
  color: #fff;
}
.btn-small{
  display: inline-block;
  width: 160px;
  height: 40px;
  background-color: #FF6600;
  cursor: pointer;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 12px;
}
.btn-middle{
  display: inline-block;
  width: 202px;
  height: 50px;
  background-color: #FF6600;
  cursor: pointer;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}
.btn-large{
  display: inline-block;
  width: 300px;
  height: 54px;
  background-color: #FF6600;
  color: #fff;
  display: inline-block;
  line-height: 54px;
  text-align: center;
  cursor: pointer;
}
@mixin bgImg($w:0,$h:0,$img:'',$size:contain){
  display:inline-block;
  width:$w;
  height:$h;
  background:url($img) no-repeat center;
  background-size:$size;
}